Config(
    game_folder: "path_to_game/HoMM 3 Complete",
    ttf_font: "/usr/share/fonts/liberation/LiberationSans-Bold.ttf",
    battlefield: DRTR,
    music: true,
    volume: 20,
    armies: (
        Army(
            hero: Some(SirMullich),
            stacks: (
                None,
                Some((Marksman, 30)),
                Some((Crusader, 5)),
                Some((Griffin, 35)),
                Some((HarpyHag, 40)),
                None,
                None
            )
        ),
        Army(
            hero: Some(Calh),
            stacks: (
                Some((Devil, 3)),
                None,
                None,
                Some((HornedDemon, 40)),
                None,
                Some((ChaosHydra, 3)),
                None
            )
        )
    )
)
