Config(
    battlefield: LAVA,
    armies: (
        (
            Some((ArchDevil, 1)),
            Some((Marksman, 30)),
            None, 
            Some((Griffin, 35)),
            None,
            None,
            None
        ),
        (
            Some((Devil, 10)),
            None,
            None,
            Some((HornedDemon, 40)),
            None,
            Some((ChaosHydra, 3)),
            None
        )
    )
)
